.social-side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    cursor: pointer;
    z-index: 10;
}

.social-side-bar a {
    text-decoration: none;
    color: inherit;
    transform: translateX(-70%);
    margin-top: 10px;
}


.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 1em sans-serif;
}

.social-links p {
    padding: 5px 25px 5px 10px;
    min-width: 100px;
    max-width: 100px;
}

.social-side-bar a:hover {
    transform: translateX(0%);
    transition: 0.7s;
    color: red;
}

@media (max-width: 1000px) {
    .social-side-bar a:hover {
        transform: translateX(-70%);
    }
}

@media (max-width: 600px) {
    .social-side-bar {
        display: none;
    }
}