.resume #resume-desc {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.resume-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto;
}

.education-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.education-heading span {
    margin-right: 1rem;
}

.education {
    padding: 0px 2.5rem;
}

.education-detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.education h3 {
    text-align: center;
}

.education h3 span {
    margin-right: 10px;
}

.education .education-detail .education-box {
    border: 2px solid red;
    padding: 10px;
    border-radius: 15px;
    margin: 15px 15px;
    box-shadow: 0px 3px 9px rgb(267 36 7 / 80%);
    cursor: pointer;
    max-width: 400px;
    box-sizing: border-box;
    backdrop-filter: blur(9px);
}

.education .education-box:hover {
    box-shadow: 0px 3px 15px rgb(267 36 7 / 80%);
}

.education .education-box p {
    text-align: initial;
}

.education .education-box h4 {
    margin: 10px 0px;
}

@media (max-width: 800px) {
    .resume-content {
        flex-direction: column;
    }
}